.container {
    min-height: 90vh;
    margin-top: 100px;
}

textarea {
    resize: none;
    height: 150px;
}

.invalid {
    color: red;
}

.invalid-input {
    color: red;
    border: 2px solid red;
}