<!-- footer -->
<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <a href="/"
                   class="d-flex justify-content-center align-items-center mb-2 link-dark text-decoration-none"
                   aria-label="Q&Aservice">
                    <span class="fs-5">My&Books</span>
                </a>
                <ul class="list-unstyled small text-muted text-center">
                    <li class="mb-2">Разработанный и построенный со всей любовью в мире студентом группы ПМ-19-2.
                    </li>
                    <li class="mb-2">Богомолов Евгений.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
